<header>
  <div class="container">
    <a href="" class="logo">IntelliSmart</a>
    <nav>
      <ul>
        <li><a href="#" routerlink="/">Home</a></li>
        <li><a href="about-us" routerlink="/about-us">About</a></li>
        <li><a href="products-and-solutions" routerlink="/products-and-solutions">Products & Solutions</a></li>
        <li><a href="system-components" routerlink="/system-components">System Components</a></li>
        <li><a href="quality-focus" routerlink="/quality-focus">Quality Focus</a></li>
        <li><a href="contact-us" routerlink="/contact-us">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
