
<div class="home-container">
    <div class="home-logo">
        <p>
            <span class="lato">I N T E L L I S M A R T</span> <br/>
            <span class="spartan">U T I L I T I E S</span>
        </p>
    </div>
    <div class="home-btn-down">
        <a href="#" class="btn-page-down">&#x2572;&#x2571;</a>
    </div>

    <div class="home-h1">
        <h1>
            A U T O M A T E D <br/>
            E N E R G Y & 
            W A T E R  M E T E R<br/> 
            M O N I T O R I N G <br/>
            S Y S T E M S<br/>
        </h1>
    </div>
</div>