/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
$primary: #00c2cb;
$grey:#545454;
body{
    margin: 0;
    font-family: 'Lato';
    color: $grey;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.lato{
    font-family: 'lato';
}

.spartan{
    font-family: 'spartan';
}
header{
    padding: 1em;
    // background-color: $primary;
    a {
        color: #333;
        text-decoration: none;
    }
    a.logo{
        font-weight: bold;
    }
    nav{
        float: right;
        ul{
            list-style-type: none;
            margin: 0;
            display: flex;
            li a{
                font-size: 12px;
                padding: 1em;
                &:hover{
                    color: darken($primary,10);
                }
            }
        }
    }
}
.page{
    h1{
        .spartan{
            font-weight: 800px;
        }
    }
}
.mcd-tile{
    background-color: #fff;
    border: $primary solid 1px;
    padding: 2em;
    margin: 1em;
    h3,p{
        color: $grey;
    }
    a{
        font-size: 11px;
        text-decoration: none;
        color: $primary;
        .link-arrow-icon{
            margin-left: 0px;
            transition: margin 0.5s;
        }
        &:hover{
            color: darken($primary,10);
            font-weight: bold;
            .link-arrow-icon{
                margin-left: 10px;
            }
            cursor: pointer;
        }
    }

}
.home-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,42px);
    grid-gap: 1em;
    .home-logo{
        grid-column: 1 / 2;
        grid-row: 1 / 7;
        background-color: $primary;
        text-align: left;
        padding: 2em;
        color: #fff;
        .lato{
            font-size: 25px;
        }
        .spartan{
            font-weight: bold;
            font-size: 35px;
        }
    }
    .home-btn-down{
        grid-column: 1 / 2;
        grid-row: 9 / -2;
        padding: 1em;
    }
    .home-h1{
        grid-column: 2 / -1;
        grid-row: 5 / -1;
    }
    div{
        
        text-align: center;
    }
    .btn-page-down{
        text-decoration: none;
        border: solid 2px $primary;
        padding: 25px 20px 25px 20px;
        
        border-radius: 100%;
        color: $primary;
        font-weight: bold;
    }
    h1{
        font-family: 'spartan';
        font-weight: bold;
        font-size: 44px;
        color:$grey;
        text-align: right;
    }
}
#pg-products-and-solutions{
    display: grid;
    grid-template: repeat(12,58px) / repeat(12,1fr);
    .inner{
        grid-column: span 4;
        grid-row: span 12;
    }
    .inner-2{
        background-color: $primary;
    }
    .inner-3
    {
        .inner-inner{
            h2{
                border: solid 0px $primary;
                border-bottom-width:3px;
                max-width: 330px;
                margin-left: 3em;
                padding-bottom: 1em;
            }
            margin-bottom: 15px;
            margin-top: 50px;
            text-align: right;
        ul{
            list-style: none;
            font-size: 16px;
            li{
                padding: 2em;
                border: solid $primary 0px;
                transition:border 0.4s;
                &:hover{
                    border-width:0px 40px 0px 0px;
                }
                a{
                    text-decoration: none;
                    color: $grey;
                    &:hover{
                        cursor: pointer;
                        color: darken($primary,10);
                        font-weight: bold;
                    }
                    &:active{
                        color: darken($primary,10);
                        border-width:0px 40px 0px 0px;
                    }
                    
                }
            }
        }
        }
    }
}
.page-title{
    background-color: #fff;
    padding: 1em;
    margin: 4em 1em 3em 1em;
    h1{
        padding: 0px 1em 0px 1em;
        .lato{
            font-size: 25px;
        }
        .spartan{
            font-size: 50px;
            font-weight: bold;
        }
    }
}
.inner-2{
    position: relative;
    .inner-inner{
        position:absolute;
        margin-left: -300px;
        width: 500px;
    }
}
