/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
$primary: #00c2cb;
$grey:#545454;
body{
    margin: 0;
    font-family: 'Lato';
    color: $grey;
    a{
        &:hover{
            color: $primary;
            cursor: pointer;
        }
    }
}
.container{
    width: 80%;
    margin: 0 auto;
}
.lato{
    font-family: 'lato';
}

.spartan{
    font-family: 'spartan';
}   
    a.logo{
        font-weight: bold;
    }
    nav{
        a {
            color: #333;
            text-decoration: none;
        }
        ul{
            list-style-type: none;
            margin: 0;
            display: flex;
            li a{
                font-size: 12px;
                padding: 1em;
                &:hover{
                    color: darken($primary,10);
                }
            }
        }
    }

.page{
    height: 750px;
    display: grid;
    grid-template: repeat(12,1fr) / repeat(12,1fr);
    h1{
        .spartan{
            font-weight: 800px;
        }
    }
}
.mcd-tile{
    background-color: #fff;
    border: $primary solid 1px;
    padding: 2em;
    margin: 1em;
    h3,p{
        color: $grey;
    }
    a{
        font-size: 11px;
        text-decoration: none;
        color: $primary !important;
        .link-arrow-icon{
            margin-left: 0px;
            transition: margin 0.5s;
        }
        &:hover{
            color: darken($primary,10);
            .link-arrow-icon{
                margin-left: 10px;
            }
            cursor: pointer;
        }
    }

}


.page-title{
    background-color: #fff;
    padding: 1em;
    margin: 4em 1em 3em 1em;
    h1{
        padding: 0px 1em 0px 1em;
        .lato{
            font-size: 25px;
        }
        .spartan{
            font-size: 50px;
            font-weight: bold;
        }
    }
}
.page {
    height: 700px;
  }
#bigFooter{
    
    font-family: "Lato";
    color: rgb(200, 200, 200);
    h3,p{
        color: rgb(200, 200, 200);
    }
    .lato{
        font-size:30px;
    }
    .spartan{
        font-size: 70px;
    }
    height: 400px;
    background-color: #212121;
    display: grid;
    grid-template: repeat(12,1fr) / repeat(12,1fr);
    div{
        grid-column: span 3;
        grid-row: 1 / -2;
        padding: 2em;
        &:nth-child(3){
            padding: 0px;
            height: 400px;
        }
    }
    ul{
        list-style: none;
        padding-left: 0px;
        li{
            padding: 5px;
        }
    }
    a{
        &:hover{
            color: $primary;
        }
    }
    iframe{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .CopyWriteDiv{
    grid-row: -2 / -1;
    grid-column: span 12;
    }
}

@media only screen and (max-width: 1200px) {
#bigFooter{
        height: 800px;
        div{
            grid-column: span 6;
            grid-row: span 5;
            padding: 2em;
        
        }
        .CopyWriteDiv{
            grid-row: -2 / -1;
            grid-column: span 12;
    }
}
}
@media only screen and (max-width: 560px) {
    #bigFooter{
        height: 100%;
        .CopyWriteDiv{
            grid-row: -2/-1;
            grid-column: span 12;
            }
        div{
            grid-column: span 12;
            grid-row: span 3; 
    }
    
}
}