<div id="pg-products-and-solutions" class="page-front">

    <div class="inner inner-1">
        1
        <div></div>
        <div class="mcd-tile">
            <h3>Dispute Management Solutions</h3>
            <p>The integrated dispute management
                solution works hand in hand with the
                account management solution to
                resolve historical disputes between
                clients and the Municipalities, but also
                focus on eliminating any future disputes
                between the parties by means of our
                cloud-based metering processes to
                allow for accurate billing</p>
                <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
        </div>
    </div>
    <div  class="inner inner-2">2</div>
    <div  class="inner inner-3">3</div>

</div>