<div id="pg-products-and-solutions" class="page">

    <div class="inner inner-1">
    </div>
    <div  class="inner inner-2">
        <div class="inner-inner">
            <div class="page-title">
                <h1>
                    <span class="lato">Products and</span><br>
                    <span class="spartan">Solutions</span>
                </h1>
            </div>
            <div class="mcd-tile">
                <h3>Dispute Management Solutions</h3>
                <p>The integrated dispute management
                    solution works hand in hand with the
                    account management solution to
                    resolve historical disputes between
                    clients and the Municipalities, but also
                    focus on eliminating any future disputes
                    between the parties by means of our
                    cloud-based metering processes to
                    allow for accurate billing</p>
                    <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
            </div>
        </div>
    </div>
    <div  class="inner inner-3">
        <div class="inner-inner">
            <h2 class="spartan">Select product or solution</h2>
            <ul>
                <li><a href="/products-and-solutions/?solution=Account-Management-Solutions">Account Management Solutions</a></li>
                <li><a href="/products-and-solutions/?solution=Dispute-Management-Solutions">Dispute Management Solutions
                </a></li>
                <li><a href="/products-and-solutions/?solution=Municipal-Debt-Management-Solutions">Municipal Debt Management Solutions</a></li>
                <li><a href="/products-and-solutions/?solution=Cloud-Metering-Solutions">Cloud Metering Solutions </a></li>
                <li><a href="/products-and-solutions/?solution=Payment-Management-Solutions">Payment Management Solutions</a></li>
                <li><a href="/products-and-solutions/?solution=PrePaid-Metering-Solutions">Pre-Paid Metering Solutions</a></li>
            </ul>
        </div>
    </div>

</div>