<div id="pg-about-us" class="page">
    <div class="page-title">
        <h1>
            <span class="lato">IntelliSmart</span><br>
            <span class="spartan">Utilities</span>
        </h1>
    </div>
    <div class="mcd-tile">
        <h3>About Us</h3>
                <p>IntelliSmart Utilities serves clients 
                    around South Africa and abroad with 
                    innovative metering and management 
                    solutions for <strong>electricity</strong>, <strong>water</strong>, 
                    <strong>heat</strong> & <strong>cooling</strong>
                </p>
                    <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="bigBlue">
        <div class="innerTile">
            <div class="flip-box">
                <div class="flip-box-inner center">
                  <div class="flip-box-front center">
                    <fa-icon [icon]="faBolt"></fa-icon>
                  </div>
                  <div class="flip-box-back center ">
                    <h2>Electricity</h2>
                    
                  </div>
                </div>
              </div>
        </div>
        <div class="innerTile"><div class="flip-box">
            <div class="flip-box-inner center">
              <div class="flip-box-front center">
                <fa-icon [icon]="faWater"></fa-icon>
              </div>
              <div class="flip-box-back center ">
                <h2>Water</h2>
                
              </div>
            </div>
          </div></div>
        <div class="innerTile"><div class="flip-box">
            <div class="flip-box-inner center">
              <div class="flip-box-front center">
                <fa-icon [icon]="faTemperatureHigh"></fa-icon>
              </div>
              <div class="flip-box-back center ">
                <h2>Heat</h2>
                
              </div>
            </div>
          </div></div>
        <div class="innerTile"><div class="flip-box">
            <div class="flip-box-inner center">
              <div class="flip-box-front center">
                <fa-icon [icon]="faWind"></fa-icon>
              </div>
              <div class="flip-box-back center ">
                <h2>Cooling</h2>
                
              </div>
            </div>
          </div></div>
    </div>
</div>
