<div id="pg-about-us" class="page">
    <div class="page-title">
        <h1>
            <span class="lato">IntelliSmart</span><br>
            <span class="spartan">Utilities</span>
        </h1>
    </div>
    <div class="mcd-tile">
        <h3>Dispute Management Solutions</h3>
                <p>IntelliSmart Utilities serves clients 
                    around South Africa and abroad with 
                    innovative metering and management 
                    solutions for <strong>electricity</strong>, <strong>water</strong>, 
                    <strong>heat</strong> & <strong>cooling</strong>
                </p>
                    <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="bigBlue">
        <ul>
            <li>electricity &nbsp;&nbsp; <fa-icon [icon]="faBolt"></fa-icon></li>
            <li>water &nbsp;&nbsp;<fa-icon [icon]="faWater"></fa-icon></li>
            <li>heat &nbsp;&nbsp;<fa-icon [icon]="faTemperatureHigh"></fa-icon></li>
            <li>cooling &nbsp;&nbsp;<fa-icon [icon]="faWind"></fa-icon></li>
        </ul>
    </div>
</div>
