<div id="pg-system-components" class="page">
<div class="page-title">
    <h1>
        <span class="lato">System&nbsp;</span>
        <span class="saprtan">Components</span>
    </h1>
</div>
<div class="mcd-tile">
    <h3>THE METERS</h3>
    <p>The data loggers which can be fitted on both new and existing
        systems collect user electrical and water data, which they then feed
        to the web portal for processing and analysis through the Sigfox
        network which is widely available in South Africa. 
        </p>
    <img>
</div>
<div class="mcd-tile">
    <h3>IN-HOUSE DISPLAY</h3>
    <p>The portal can be installed, locked and viewed through an in-house display to be installed at each unit or house.. The system is accessible through the web via a wifi or mobile</p>
    <img>
</div>
<div class="mcd-tile">
    <h3>THE WEB PORTAL</h3>
    <p>The web portal has two user types, the administrator and the home/unit owner. From here the owner is able to view their individual
        water and electricity usage,
        </p>
    <img>
</div>
</div>
