<div id="pg-utilities-difference" class="page">
    <div class="page-title">
        <h1>
            <span class="lato">The IntelliSmart </span><br>
            <span class="spartan">Utilities</span><br>
            <span class="spartan">Difference</span>
        </h1>
    </div>
    <div class="mcd-tile">
        <h3>NATIONAL FOOTPRINT</h3>
        <p>IntelliSmart Utilities operates in all the main geographical area (Gauteng, KZN, Cape Province, Eastern Province, Mpumalanga, Polokwane,</p>
            <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="mcd-tile">
        <h3>RESPONSIVENESS TO CLIENT NEEDS</h3>
        <p>IntelliSmart Utilities is able to deliver standard and customized solutions within a short turnaround time in remote areas. We will add</p>
        <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="mcd-tile">
        <h3>PROJECT MANAGEMENT CAPABILITY</h3>
        <p>IntelliSmart Utilities offers excellent project management capacity in the implementation of any short</p>
        <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="mcd-tile">
        <h3>LONG TERM SUSTAINABILITY</h3>
        <p>IntelliSmart Utilities focus on the long term sustainability of our solutions to ensure that we can grow and develop our products and. </p>
        <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
    <div class="mcd-tile">
        <h3>NATIONAL PRICING STRUCTURES</h3>
        <p>IntelliSmart Utilities is able to offer a standardized, national pricing structure to clients on a national basis. The larger the range of</p>
        <a>click to read more <span class="link-arrow-icon">&#x21C1;</span></a>
    </div>
</div>