/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
$primary: #00c2cb;
$grey:#545454;
#pg-utilities-difference{
    h1 span{
        &:last-child{
            color: $primary;
        }
    }
    .page-title{
        grid-column: span 4;
        grid-row: span 6;
    }
    .mcd-tile{
        grid-column: span 4;
        grid-row: span 6;
    }
}
@media only screen and (max-width: 1200px) {
    #pg-utilities-difference{
        min-width: 512px;
        height: 1250px;
        .page-title{
            grid-column: span 6;
            grid-row: span 3;
        }
        .mcd-tile{
            grid-column: span 6;
            grid-row: span 3;
        }
    }
  }
  @media only screen and (max-width: 770px) {
    #pg-utilities-difference{
        min-width: 360px;
        height: 100%;
        .page-title{
            grid-column: span 12;
            grid-row: span 2;
        }
        .mcd-tile{
            grid-column: span 12;
            grid-row: span 2;
        }
    }
  }
