<div id="quality-focus" class="page">
    <div class="page-title">
        <h1>
            <span class="lato">Quality&nbsp;</span>
            <span class="spaartan">Focus</span>
        </h1>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
    <div class="plain-tile">
        <img>
        <p>kjbseagkjbs</p>
    </div>
</div>
