/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
$primary: #00c2cb;
$grey:#545454;
#quality-focus{
    display: grid;
    grid-template: repeat(12,1fr) / repeat(12,1fr);
    .page-title{
        grid-column: 1 / 7;
        grid-row: 6 / 7;
    }
}