
<div id="quality-focus" class="page">

    <div class="page-title">
        <h1>
            <span class="lato">Quality&nbsp;</span>
            <span class="spaartan">Focus</span>
        </h1>
    </div>

    <div class="plain-tile">
        <img src="assets/images/iso.PNG">
        <p>The product complies with the ISO9001:2008 standard
        </p>
    </div>
    <div class="plain-tile">
        <img src="assets/images/sanas.PNG">
        <p>SANAS Accredited Meter Laboratory and Certification</p>
    </div>
    <div class="plain-tile">
        <img src="assets/images/jaswic.PNG">
        <p>Integration prepayment valve meter JASWIC Approved
        </p>
    </div>
    <div class="plain-tile">
        <img src="assets/images/level-1.PNG">
        <p>Level 1 contributor with a BBBEE Procurement Recognition Level of 135% </p>
    </div>
    <div class="plain-tile">
        <img src="assets/images/sigfox.PNG">
        <p>Uses the Sigfox network</p>
    </div>
    <div class="plain-tile">
        <img src="assets/images/icasa.PNG">
        <p>Data communication approved and certified by ICASA</p>
    </div>
</div>
